<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ADONetHelper" version="3.0.5" targetFramework="net461" />
  <package id="dotConnect.Express.for.SQLite" version="5.11.1190" targetFramework="net461" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="EntityFramework.SqlServerCompact" version="6.2.0" targetFramework="net461" />
  <package id="EPPlus" version="4.5.2.1" targetFramework="net461" />
  <package id="ExcelDataReader" version="3.4.0" targetFramework="net461" />
  <package id="ExcelDataReader.DataSet" version="3.4.0" targetFramework="net461" />
  <package id="ExcelLibrary" version="1.2011.7.31" targetFramework="net461" />
  <package id="linq2db" version="2.2.0" targetFramework="net461" />
  <package id="MaterialSkin" version="0.2.1" targetFramework="net461" />
  <package id="MetroFramework.Design" version="1.2.0.3" targetFramework="net461" />
  <package id="MetroFramework.Fonts" version="1.2.0.3" targetFramework="net461" />
  <package id="MetroFramework.RunTime" version="1.2.0.3" targetFramework="net461" />
  <package id="MetroSet_UI" version="1.0.3" targetFramework="net461" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net461" />
  <package id="Microsoft.SqlServer.Compact" version="4.0.8876.1" targetFramework="net461" />
  <package id="pdf-extract" version="1.0.1.0" targetFramework="net461" />
  <package id="Remotion.Linq" version="2.2.0" targetFramework="net461" />
  <package id="StyleCop" version="5.0.0" targetFramework="net461" />
  <package id="System.Data.SQLite" version="1.0.108.0" targetFramework="net461" />
  <package id="System.Data.SQLite.Core" version="1.0.108.0" targetFramework="net461" />
  <package id="System.Data.SQLite.EF6" version="1.0.108.0" targetFramework="net461" />
  <package id="System.Data.SQLite.Linq" version="1.0.108.0" targetFramework="net461" />
  <package id="System.Interactive.Async" version="3.2.0" targetFramework="net461" />
</packages>